<div class="login-page">
  <div class="form">
    <h1>Register</h1>
    <form #regForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
          [(ngModel)]="user.username"
          required
          #name="ngModel"
          [class.is-invalid]="name.invalid && name.touched"
        />
        <small
        class="text-danger"
        [class.d-none]="name.valid || name.untouched"
        >user name is required</small>
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Email address"
          name="email"
          [(ngModel)]="user.email"
          required
          #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
        />
        <small
        class="text-danger"
        [class.d-none]="email.valid || email.untouched"
        >email is required</small>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
          required
          #password="ngModel"
          pattern="^\d{5}$"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <div *ngIf="password.errors && (password.invalid || password.touched)">
          <small class="text-danger" [class.d-none]=" password.untouched" *ngIf="password.errors.required">password is required</small>
          <small class="text-danger" [class.d-none]="password.valid" *ngIf="password.errors.pattern">password must be at least 5 digits</small>
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Condirm Password"
          name="confirm passsword"
          [(ngModel)]="user.confpassword"
          required
          #conpassword="ngModel"
          pattern="^\d{5}$"
          [class.is-invalid]="conpassword.invalid && conpassword.touched"
        />
        <div *ngIf="conpassword.errors && (conpassword.invalid || conpassword.touched)">
          <small class="text-danger" [class.d-none]=" conpassword.untouched" *ngIf="conpassword.errors.required">password is required again</small>
          <small class="text-danger" [class.d-none]="conpassword.valid" *ngIf="conpassword.errors.pattern">check password entered</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button><hr>
      <div class="sign-up">
        Already have an account? <a routerLink="/login">Create One</a>
      </div>
    </form>
    <!-- {{ regForm.value | json }} <hr>
    {{ userModel.value | json }} -->
    {{ user | json }}
  </div>
</div>